@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.front-primry{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
}

/* Shared Style */
.max-width{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.flex{
  display: flex;
  justify-content: space-between;
}


/* header section */
.header-content{
  background-color: #ff8f0e18;
}
.nav-links , .flex{
  gap: 50px;
}
.nav-links , .flex li, a{
  list-style: none;
  text-decoration: none;
}
.nav{
  margin-top: 50px;
}