@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

.front-primry{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style */
.max-width{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.btn-primary{
  background-color: #ff8f0e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Dark-1 */
.color-dark-1{
  color: #131313;
}
/* Dark-2 */
.color-dark-2{
  color: #424242;
}
.color-dark-3{
  color: #727272;
}
/* header section */
.header-content{
  background-color: #ff8f0e18;
}
.nav-links , .flex{
  gap: 50px;
}
.nav-links , .flex li, a{
  list-style: none;
  text-decoration: none;
}

.nav-content{
  width: 868px;
  height: 322px;
  margin: 0 auto;
  text-align: center;
}
.nav-content h1{
  margin-top:102px;
  font-size: 4rem;
  font-weight: 700;
  color:#131313;
}
.nav-content p{
  margin: 20px;
  font-size: 1.19rem;
  line-height: 1.5;
}
.nav-image{
  border-radius: 10px;
  width: 100%;
}
.images-conent{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.banner{
  margin: 0 auto;
  align-items: center;
  gap: 73px;
}
.banner h2{
  font-size:2.5rem;
  font-weight: 700;
}
.banner p{
  margin: 25px 0 32px 0;
}
#features{
  color: #FF900E;
}
.facts-card h2{
  margin-top: 130px;
  font-size: 2.3rem;
  font-weight: 700;
}
.facts-card p{
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
}
.card-info{
  margin: 100px 0 0 35px;
  padding: 35px 26px 30px 25px;
  text-align: center;
  border: 1px solid #ff8800;
  border-radius: 8px;
}
.card-info h3{
  margin:10px ;
  font-size: 2.3rem;
  font-weight: 700;
}
.card-info p{
  font-size: 1.1rem;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  nav{
    flex-wrap: wrap;
  }
  .nav-content{
    width: 100%;
    height: auto;
  }
  .nav-content h1{
    margin-top: 30px;
    font-size: 2.6rem;
    font-weight: 700;
}
.nav-content p {
    font-size: 0.60rem;
    line-height: 1.6;
  }
  .images-conent{
    display: flex;
  }
}
